<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台用户登陆</title>
</head>
<body>
    <form action="/admin/login" method="post">
        用户：<input type="text" name="username"> <br>
        密码：<input type="text" name="password"> <br>
        <input type="submit" value="登陆">
    </form>
</body>
</html>